body{
  background-color: #1F2937;
}
.title{
  font: normal 60px "Bakbak One";
  color: #E2ECF3;
  margin: 27px 0 0 0;
}
.up span{
  font-size: 70px;
  color: #EFB619;
}
.disc{
  font: normal 30px "Inter";
  color: #acabaf;
  margin: 0;
}
.up button{
  width: 256px;
  height: 52px;
  padding: 9px 17px 9px 15px;
  border-radius: 10px;
  border: none;
  background-color: #EFB619;
  font: normal 24px "Inter";
  margin: 30px 0 30px 0 ;
  transition: all 0.17s;
}
.up button:hover{
  background-color: #e3ac17;
}
.up button:active{
  background-color: #a07a12;
  
}
hr{
  border: none;
  border-top: 1px solid #2F3E53;
}
.passwords p{
  width: 298px;
  height: 62px;
  font: 500 22px "Inter";
  color: #EFB619;
  background-color: #273549;
  border-radius: 6px;
  margin: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s;
}
.up {
  align-items: normal;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.passwords{
  display: flex;
  justify-content: space-around;
  margin: 0 70px;
}
.checkboxes {
  margin-top: 15px;
  color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
  gap: 8px;
  font: 300 22px "Inter";
}

.checkboxes label {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 520px;
}
.checkboxes input{
  width: 18px;
  height: 18px;
}
#passLenght{
  width: 180px;
}
#lenghtShow{
  font: 300 22px "Inter";

}
.passwords  p::selection{
  color: greenyellow;
}
.up{
  width: 600px;
  margin-left: 40px;
}